html {
  background-color: #333;
}

body {
  max-width: 320px;
  margin: auto;
  background: #ddd;
  font-family: 'Covered By Your Grace', cursive;
  border: 4px solid #8fff52;
  border-radius: 5px;
  background-image: url("../img/fond-chatbox.jpg");
  background-size: 100%;
}

img {
  display: block;
  max-width: 100%;
}

.chat-container {
  max-width: 300px;
  margin: auto;
  box-shadow: 0 0 5px #333;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message-box {
  margin-bottom: 10px;
  width: 75%;
  margin: 0 25px 25px;
  text-transform: uppercase;
}

.message-box .message-content {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 0;
  box-shadow: 5px 5px black;
}


.message-hour {
  margin: 5px 0 0 0;
  font-size: 20px;
}

.message-box-eden .message-content {
  background: white;
  padding: 5px;
}

.message-box-eden {
  align-self: flex-end;
  text-align: right;
}

.message-box-adele .message-content {
  background: white;
}

.chat-form {
  background: #333;
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  position: sticky;
  bottom: 0;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: flex-end;
}

.container .element {
  max-width: 8%;
  filter: invert(100%);
}

.container-adele {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header p {
  margin: 0;
  padding-bottom: 5px;
}

header {
  position: sticky;
  top: 0;
}

.container-adele .element-pp {
  max-width: 15%;
}

.container, .container-adele, .container-online {
  background-color: #333;
}

.container {
  border-radius: 5px 5px 0 0;
}

.container-online {
  border-radius: 0 0 5px 5px;
}

.element-back, 
.element-name {
  font-size: 30px;
  color: white;
}

.element-online {
  font-size: 15px;
  color: white;
}

.container-online {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}